<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domino Scorer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles">
</head>
<body ng-controller="myCtrl">
    <h1>Tampa Family Domino Scorer</h1>

    <!-- Set max points for the game -->
    <div>
        <label>Puntos para ganar:</label>
        <input type="number" ng-model="maxPoints" placeholder="Enter max points">
    </div>

    <!-- Team names -->
    <div>
        <label>Team 1 Nombre: </label>
        <input type="text" ng-model="team1.name" placeholder="Enter Team 1 Name">
        <label>Team 2 Nombre: </label>
        <input type="text" ng-model="team2.name" placeholder="Enter Team 2 Name">
    </div>

    <h2>Game Scores</h2>

    <!-- Table for displaying game rounds and scores -->
    <table>
        <thead>
            <tr>
                <th>{{ team1.name }}</th>
                <th>{{ team2.name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in games track by $index">
                <td>Game {{$index + 1}}: {{ game.team1Score }}</td>
                <td>Game {{$index + 1}}: {{ game.team2Score }}</td>
            </tr>
            <tr ng-if="!gameOver">
                <td><strong>Total: {{ team1.subtotal }}</strong></td>
                <td><strong>Total: {{ team2.subtotal }}</strong></td>
            </tr>
        </tbody>
    </table>

    <div class="winning-message" ng-if="gameOver">
        <h3>{{ winningMessage }}</h3>
    </div>

    <div>
        <label>Select Team:</label>
        <select ng-model="selectedTeam">
            <option value="">--Selecciona Team--</option>
            <option value="team1">{{ team1.name }}</option>
            <option value="team2">{{ team2.name }}</option>
        </select>

        <label>Points:</label>
        <input type="number" ng-model="points" placeholder="Enter points">
        
        <button type="button" ng-click="updateScore()" ng-disabled="gameOver">Actualizar</button>
    </div>
    <button type="button" ng-click="newGame()">Nuevo Juego</button>
</body>
</html>

